input {
   max-width: 300px;
   width: 100%;
   padding: 10px;
   border: 1px solid #808080;
   border-radius: 4px;
   font-family: Oxygen;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.04em;
}

h1 {
   font-family: Oxygen;
   font-size: 24px;
   font-weight: 600;
   line-height: 32px;
   letter-spacing: 0.04em;
   color: #2E2F42;
}